name: frontend

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  frontend:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./frontend

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.2

      - name: install
        run: bun install
      - name: lint
        run: bun run lint
      - name: check
        run: bun run check
      - name: build
        run: bun run build
      - name: test
        run: bun run test
